In [88]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
from datetime import *
from tqdm import tqdm
from scipy.spatial.distance import euclidean
import json
from datetime import *
import itertools
from sklearn import cross_validation
from geopy.distance import vincenty

In [3]:
data = pd.read_csv("free.csv")

In [4]:
def parse_to_isofmt(str_dat):
    return parse(str(str_dat)).isoformat()

In [5]:
time_row = list(data['TimeStamp'])
time_row = [parse_to_isofmt(i) for i in time_row]
dat = data.transpose()
dat.columns = time_row
dat = dat.drop(dat.index[[0]])
dat.head(3)

,2016-04-21T08:55:15,2016-04-21T08:55:42,2016-04-21T09:02:01,2016-04-21T09:03:01,2016-04-21T09:04:01,2016-04-21T09:05:01,2016-04-21T09:06:01,2016-04-21T09:07:02,2016-04-21T09:08:01,2016-04-21T09:09:01,...,2016-07-01T13:54:01,2016-07-01T13:55:02,2016-07-01T13:56:01,2016-07-01T13:57:01,2016-07-01T13:58:01,2016-07-01T13:59:02,2016-07-01T14:00:01,2016-07-01T14:01:01,2016-07-01T14:02:01,2016-07-01T14:03:01
1,10,10,10,10,10,10,10,10,10,10,...,11,11,11,11,10,10,11,11,10,10
2,7,7,7,7,7,7,7,7,7,7,...,5,5,5,5,5,5,5,5,5,5
3,4,4,4,4,4,4,4,4,4,4,...,2,2,2,2,2,3,3,3,3,3

In [36]:
dat_1 = dat
cols = 100830
#cnt = 0

dict_d = {}

for indx, row in tqdm(dat_1.iterrows()):
    row_data = list(row.values)
    row_date = list(row.index)
    
    prev_day, prev_mon, prev_hor = None, None, None
    data_list = []
    whole_list = []
    
    for i in range(0, cols):
        dat_tup = datetime.strptime(row_date[i], '%Y-%m-%dT%H:%M:%S')
        cur_day, cur_mon, cur_hor = dat_tup.day, dat_tup.month, dat_tup.hour
        if cur_day != prev_day or cur_mon != prev_mon or cur_hor != prev_hor and prev_day is not None and prev_mon is not None and prev_hor is not None:
        
            feature = np.mean(data_list)
        #feature = np.median(whole_list) mb better
            whole_list.append(('2016-'+str(prev_mon)+'-'+str(prev_day)+'T'+str(prev_hor)+':00', feature))
        
        data_list.append(row_data[i])
        prev_day, prev_mon, prev_hor = cur_day, cur_mon, cur_hor
    
    whole_list.pop(0)
    dict_d[indx] = whole_list
    #cnt += 1
    #if cnt == 3:
        #break

485it [1:09:01,  8.47s/it]

In [38]:
from collections import defaultdict
new_data = defaultdict(list)
for k, v in tqdm(dict_d.items()):
    for i in v:
        new_data[parse(i[0]).isoformat()].insert(int(k)-1, i[1])

100%|██████████| 485/485 [00:50<00:00,  9.04it/s]

In [39]:
best_data_ever = pd.DataFrame(new_data)

In [41]:
best_data_ever.head(10)

,2016-04-21T08:00:00,2016-04-21T09:00:00,2016-04-21T10:00:00,2016-04-21T11:00:00,2016-04-21T12:00:00,2016-04-21T13:00:00,2016-04-21T14:00:00,2016-04-21T15:00:00,2016-04-21T16:00:00,2016-04-21T17:00:00,...,2016-07-01T04:00:00,2016-07-01T05:00:00,2016-07-01T06:00:00,2016-07-01T07:00:00,2016-07-01T08:00:00,2016-07-01T09:00:00,2016-07-01T10:00:00,2016-07-01T11:00:00,2016-07-01T12:00:00,2016-07-01T13:00:00
0,10.0,10.0,10.0,10.000000,10.000000,10.000000,10.103064,10.284010,10.359081,10.293135,...,9.247622,9.246876,9.246141,9.245944,9.244484,9.242877,9.243557,9.244633,9.246790,9.248279
1,7.0,7.0,7.0,6.750000,6.562500,6.451505,6.376045,6.322196,6.281837,6.168831,...,4.740542,4.740099,4.739657,4.738747,4.736397,4.733770,4.734157,4.734912,4.735516,4.735673
2,4.0,4.0,4.0,4.311111,4.483333,4.585284,4.654596,4.844869,4.989562,5.102041,...,3.671111,3.670709,3.670020,3.668684,3.666494,3.664774,3.664448,3.664787,3.664034,3.663351
3,5.0,5.0,5.0,5.000000,5.241667,5.488294,5.682451,5.727924,5.872651,5.829314,...,6.158427,6.158332,6.158238,6.158113,6.159312,6.161335,6.162808,6.163099,6.163150,6.163916
4,5.0,4.4,4.7,4.800000,4.850000,4.879599,4.693593,4.451074,4.281837,4.139147,...,4.874060,4.874135,4.874211,4.874793,4.875843,4.876215,4.876498,4.876144,4.875533,4.873683
5,4.0,4.0,4.0,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.005566,...,4.087769,4.087119,4.086469,4.086387,4.086793,4.085926,4.085279,4.084841,4.084016,4.083024
6,8.0,8.0,7.0,6.000000,5.500000,5.204013,5.002786,4.780430,4.486430,4.274583,...,3.039058,3.039035,3.039012,3.038988,3.039045,3.039031,3.039276,3.039849,3.039994,3.039940
7,4.0,4.0,4.0,4.000000,3.945833,3.759197,3.632312,3.541766,3.473904,3.322820,...,3.328371,3.327806,3.327610,3.328250,3.328582,3.327541,3.325686,3.326366,3.326519,3.330133
8,5.0,5.0,5.0,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.996289,...,4.510051,4.510344,4.510298,4.511098,4.511768,4.513829,4.516126,4.518201,4.518875,4.519112
9,3.0,3.0,3.2,3.383333,3.287500,3.086957,3.189415,3.305489,3.392484,3.306122,...,4.176944,4.177057,4.178216,4.180827,4.182391,4.183057,4.182670,4.182094,4.182651,4.180866

In [2]:
best_data_ever.to_csv("Best_Maen_Data")

NameError: name 'best_data_ever' is not defined

In [104]:
dat = pd.read_csv("./Best_Maen_Data")
dat = dat.ix[:,1:dat.shape[1]]
dat.head(5)

,2016-04-21T08:00:00,2016-04-21T09:00:00,2016-04-21T10:00:00,2016-04-21T11:00:00,2016-04-21T12:00:00,2016-04-21T13:00:00,2016-04-21T14:00:00,2016-04-21T15:00:00,2016-04-21T16:00:00,2016-04-21T17:00:00,...,2016-07-01T04:00:00,2016-07-01T05:00:00,2016-07-01T06:00:00,2016-07-01T07:00:00,2016-07-01T08:00:00,2016-07-01T09:00:00,2016-07-01T10:00:00,2016-07-01T11:00:00,2016-07-01T12:00:00,2016-07-01T13:00:00
0,10.0,10.0,10.0,10.000000,10.000000,10.000000,10.103064,10.284010,10.359081,10.293135,...,9.247622,9.246876,9.246141,9.245944,9.244484,9.242877,9.243557,9.244633,9.246790,9.248279
1,7.0,7.0,7.0,6.750000,6.562500,6.451505,6.376045,6.322196,6.281837,6.168831,...,4.740542,4.740099,4.739657,4.738747,4.736397,4.733770,4.734157,4.734912,4.735516,4.735673
2,4.0,4.0,4.0,4.311111,4.483333,4.585284,4.654596,4.844869,4.989562,5.102041,...,3.671111,3.670709,3.670020,3.668684,3.666494,3.664774,3.664448,3.664787,3.664034,3.663351
3,5.0,5.0,5.0,5.000000,5.241667,5.488294,5.682451,5.727924,5.872651,5.829314,...,6.158427,6.158332,6.158238,6.158113,6.159312,6.161335,6.162808,6.163099,6.163150,6.163916
4,5.0,4.4,4.7,4.800000,4.850000,4.879599,4.693593,4.451074,4.281837,4.139147,...,4.874060,4.874135,4.874211,4.874793,4.875843,4.876215,4.876498,4.876144,4.875533,4.873683

In [105]:
def is_weekend(str_dat): # print 1 in case of weekend
    s = datetime.strptime(str_dat, '%Y-%m-%dT%H:%M:%S')
    if s.weekday() == 5 or s.weekday() == 6:
        return s.hour, 1
    return s.hour, 0

is_weekend('2016-04-21T10:00:00')

(10, 0)

In [106]:
id_st = np.arange(1, 486, dtype=np.int64)
dat['id_st'] = id_st

In [107]:
#dat['is_weekend'] = np.zeros(485, dtype=np.int64)
#dat[['is_weekend', 'id_st', '2016-04-21T10:00:00']]

In [108]:
cols = list(np.arange(0, 24, 1, dtype=np.int64))
cols.append('is_weekend')
cols.append('sub_dist')
cols.append('id_station')
data = pd.DataFrame(columns=cols)

In [109]:
data

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, is_weekend, sub_dist, id_station]
Index: []

[0 rows x 27 columns]

In [110]:
from collections import defaultdict
def func_1(s):
    id_st = None
    dict_1 = {0: defaultdict(list), 1: defaultdict(list)}
    for dat, val in zip(s.index, s.values):
        if dat == 'id_st':
            id_st = val
            continue
        hour, is_weekday = is_weekend(dat)
        dict_1[is_weekday][hour].append(val)
    for key in dict_1.keys():
        item = dict_1[key]
        for k in item.keys():
            item[k] = np.mean(item[k])
        item['id_station'] = int(id_st)
        item['is_weekend'] = key
        item['sub_dist'] = 0
    for cur in dict_1.values():
        cur_lst = []
        #cur = cur.items()
        #val = [x[0] for x in cur]
        #columns = [x[1] for x in cur]
        #df = pd.DataFrame([val], columns=columns)
        for d in data.columns.values:
            cur_lst.append(cur[d])
        data.loc[len(data)] = cur_lst

In [111]:
for i in range(0, dat.shape[0]):
    func_1(dat.ix[i])

In [112]:
with open('./VeloPositionUpdated.json') as f:
    position_points = json.load(f)
position_points = position_points[0]
lst_of_distances = [None] * 485
for velo_point in position_points:
    st_id = velo_point['Id']
    lat_velo_station, lon_velo_station = velo_point['Position']['Lat'], velo_point['Position']['Lon']
    lat_sub_station, lon_sub_station = velo_point['geo_positon']['lat'], velo_point['geo_positon']['lon']
    dist = vincenty((lat_velo_station, lon_velo_station), (lat_sub_station, lon_sub_station))
    #euclid_dist = euclidean(np.array([lon_velo_station, lat_velo_station], dtype=np.float64), np.array([lon_sub_station, lat_sub_station], dtype=np.float64))
    lst_of_distances[int(st_id) - 1] = dist.kilometers * 1000
lst_of_distances = list(itertools.chain.from_iterable([(i, i) for i in lst_of_distances]))

In [113]:
data['dist_to_sub'] = lst_of_distances

In [114]:
data['id_station'] = data['id_station'].apply(lambda x : int(x))
del data['sub_dist']
data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,is_weekend,id_station,dist_to_sub
0,9.860236,9.860512,9.861105,9.861502,9.861837,9.855011,9.862593,9.864070,9.869730,9.872188,...,9.865454,9.860596,9.855221,9.847870,9.849946,9.842316,9.837215,0.0,1,168.500977
1,9.646470,9.644814,9.643850,9.643071,9.642361,9.641422,9.642470,9.644216,9.644061,9.644261,...,9.665073,9.672134,9.682704,9.690636,9.696031,9.702229,9.706766,1.0,1,168.500977
2,5.347481,5.346072,5.344679,5.343305,5.342028,5.330834,5.339868,5.338146,5.366538,5.362834,...,5.327838,5.322129,5.319086,5.318966,5.319572,5.318776,5.318110,0.0,2,388.588859
3,5.261046,5.263687,5.266379,5.268803,5.271403,5.273133,5.274557,5.275920,5.277101,5.278062,...,5.289304,5.297812,5.307614,5.314533,5.320247,5.326790,5.333385,1.0,2,388.588859
4,3.862501,3.864025,3.865298,3.866351,3.864035,3.858409,3.856842,3.852955,3.850235,3.844954,...,3.852438,3.856283,3.861815,3.867218,3.866286,3.869564,3.871888,0.0,3,144.666952

In [115]:
data_2 = data

In [116]:
with open('./VeloPosition.json') as f:
    velo_pos_data = json.load(f)
lon_lst, lat_lst = [None] * 485, [None] * 485
velo_pos_data = velo_pos_data['Items']
for single_velo_pos in velo_pos_data:
    lon = single_velo_pos['Position']['Lon']
    lat = single_velo_pos['Position']['Lat']
    velo_id = single_velo_pos['Id']
    lon_lst[int(velo_id)-1] = lon
    lat_lst[int(velo_id)-1] = lat
    
lon_lst = list(itertools.chain.from_iterable([(i, i) for i in lon_lst]))
lat_lst = list(itertools.chain.from_iterable([(i, i) for i in lat_lst]))

In [117]:
data_2['lon'] = lon_lst
data_2['lat'] = lat_lst

In [118]:
data_2.head(10)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,is_weekend,id_station,dist_to_sub,lon,lat
0,9.860236,9.860512,9.861105,9.861502,9.861837,9.855011,9.862593,9.864070,9.869730,9.872188,...,9.855221,9.847870,9.849946,9.842316,9.837215,0.0,1,168.500977,37.600833,55.745290
1,9.646470,9.644814,9.643850,9.643071,9.642361,9.641422,9.642470,9.644216,9.644061,9.644261,...,9.682704,9.690636,9.696031,9.702229,9.706766,1.0,1,168.500977,37.600833,55.745290
2,5.347481,5.346072,5.344679,5.343305,5.342028,5.330834,5.339868,5.338146,5.366538,5.362834,...,5.319086,5.318966,5.319572,5.318776,5.318110,0.0,2,388.588859,37.600224,55.748696
3,5.261046,5.263687,5.266379,5.268803,5.271403,5.273133,5.274557,5.275920,5.277101,5.278062,...,5.307614,5.314533,5.320247,5.326790,5.333385,1.0,2,388.588859,37.600224,55.748696
4,3.862501,3.864025,3.865298,3.866351,3.864035,3.858409,3.856842,3.852955,3.850235,3.844954,...,3.861815,3.867218,3.866286,3.869564,3.871888,0.0,3,144.666952,37.600593,55.750918
5,3.953571,3.953383,3.953392,3.953456,3.953713,3.953775,3.953730,3.953772,3.953973,3.953869,...,3.927230,3.926378,3.926428,3.925719,3.925419,1.0,3,144.666952,37.600593,55.750918
6,5.512396,5.509022,5.505790,5.502457,5.499591,5.511551,5.500746,5.502578,5.497456,5.501672,...,5.546556,5.538150,5.508066,5.502171,5.497082,0.0,4,428.352001,37.587454,55.759181
7,5.401585,5.402825,5.403605,5.403879,5.404551,5.405950,5.407127,5.408059,5.410073,5.412320,...,5.443699,5.446323,5.447762,5.446938,5.447885,1.0,4,428.352001,37.587454,55.759181
8,5.240697,5.241665,5.242543,5.243304,5.243602,5.236362,5.244139,5.244057,5.238458,5.223662,...,5.198967,5.198935,5.194732,5.195846,5.196545,0.0,5,320.010562,37.600472,55.754924
9,5.127749,5.134260,5.141254,5.148740,5.154401,5.158192,5.161968,5.165695,5.169227,5.172568,...,5.217977,5.221913,5.225374,5.229051,5.231945,1.0,5,320.010562,37.600472,55.754924

In [119]:
data.to_csv('DATA_MEAN_WITH_DIST.csv')
data_2.to_csv('DATA_MEAN_WITH_DIST_LAN_LOT.csv')

In [120]:
def train_test(data_X, data_y):
    data_X_train, data_X_test, data_Y_train, data_Y_test = \
        cross_validation.train_test_split(data_X, data_y, test_size=0.33, random_state=42)
    return data_X_train, data_Y_train, data_X_test, data_Y_test

In [86]:
data_X = data_2.iloc[0:, 0:25]
data_y = data_2.iloc[0:, 26]
X_train, y_train, X_test, y_test = train_test(data_X, data_y)

In [87]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((649, 25), (649,), (321, 25), (321,))